<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-start">
      <button
        class="m-2"
        mat-stroked-button
        color="warn"
        style="
          background-color: white;
          border-color: red;
          text-decoration-color: red;
        "
      >
        <mat-icon>delete_outline</mat-icon> حذف المورد
      </button>

      <button
        class="m-2"
        mat-stroked-button
        style="background-color: #1c1c28; border-color: #1c1c28"
      >
        <div style="color: white">إضافة موارد جديدة</div>
      </button>
      <mat-slide-toggle class="m-3">مفعلة</mat-slide-toggle>
    </div>
    <div class="col d-flex justify-content-end">
      <p class="d-flex m-2">إضافة موارد جديدة</p>
      <button mat-button style="background-color: #e7eaed; width: 57px">
        <mat-icon>arrow_right_alt</mat-icon>
      </button>
    </div>
  </div>
</div>
